@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayBoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayMediu.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayRoman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayRomanItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayThin.ttf') format('truetype');
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayThinItalic.ttf') format('truetype');
    font-weight: 250;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayXThin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayXThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayXXThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayXXThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayBoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayMediu.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayRoman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayRomanItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayThin.ttf') format('truetype');
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayThinItalic.ttf') format('truetype');
    font-weight: 250;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayXThin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayXThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayXXThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('./NeueHaasDisplayXXThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}